.body-learning {
    background: linear-gradient(45deg, #ffde59, #ffab73, #ff6464);
    animation: backgroundAnimation 10s ease infinite;
    color: #333;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    padding: 1.5rem;

}

@keyframes backgroundAnimation {
    0% {
        background-color: #ffde59;
    }

    50% {
        background-color: #ffab73;
    }

    100% {
        background-color: #ff6464;
    }
}

.body-learning h1 {
    color: #4b4b4b;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px #fff;
    margin-top: 0px !important;
}

.subject-selection {
    text-align: center;
    margin-top: 40px;
}

.subject-card, .subject-card-multiple {
    margin: 20px;
    padding: 30px;
    text-align: center;
    background-color: #fbe6a2;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1.2rem;
}

.subject-card:hover, .subject-card-multiple:hover {
    background-color: #ffd966;
    transform: translateY(-10px) scale(1.08);
    cursor: pointer;
}

.subject-card i,
.subject-card-multiple i {
    color: #ff6f91;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    animation: iconBounce 2s infinite;
}

.subject-card-multiple i {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

@keyframes iconBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.progress {
    margin-top: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #f0f0f0;

}

.progress-bar {
    transition: width 0.6s ease;
    background-color: #ff6f91;
    width: 0%;

}

.feedback-message {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    text-shadow: 1px 1px 2px #ffdfba;
}

.video-section {
    margin-top: 30px;
    text-align: center;
    background-color: #ffdfba;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    color: #d9534f;
}

.learning-modules-link {
    color: #333;
    text-decoration: none;
}