
.games-section {
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px; 
    background-size: cover;
  }
  
  .game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%; /* Set the height to your desired value */
    width: 100%;
}
  
  .game-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .game-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .game-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .game-card a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .game-card a:hover {
    background-color: #3e8e41;
  }